<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction

Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones.

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage.

Therefore if we can determine if the first stage will land, we can determine the cost of a launch.

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

<a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01" target="_blank">Spacex DataSet</a>

**Navigate to the Go to UI screen**

*   Refer to this insruction in this <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sign%20up%20for%20IBM%20Cloud%20-%20Create%20Db2%20service%20instance%20-%20Get%20started%20with%20the%20Db2%20console/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">link</a> for viewing  the   Go to UI screen.

*   Later click on **Data link(below SQL)**  in the Go to UI screen  and click on **Load Data** tab.

*   Later browse for the downloaded spacex file.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/browsefile.png" width="800"/>

*   Once done select the schema andload the file.

 <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload3.png" width="800"/>

In [1]:
!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa
!pip install ipython-sql
import sqlalchemy
from sqlalchemy import *
import ibm_db_sa
from ibm_db_sa import *

Requirement already satisfied: sqlalchemy==1.3.9 in c:\users\dell\miniconda3\lib\site-packages (1.3.9)
Requirement already satisfied: ibm_db_sa in c:\users\dell\miniconda3\lib\site-packages (0.3.8)
Requirement already satisfied: sqlalchemy>=0.7.3 in c:\users\dell\miniconda3\lib\site-packages (from ibm_db_sa) (1.3.9)
Requirement already satisfied: ibm-db>=2.0.0 in c:\users\dell\miniconda3\lib\site-packages (from ibm_db_sa) (3.1.3)
Requirement already satisfied: ipython-sql in c:\users\dell\miniconda3\lib\site-packages (0.4.1)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\dell\miniconda3\lib\site-packages (from ipython-sql) (1.3.9)
Requirement already satisfied: prettytable<1 in c:\users\dell\miniconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: six in c:\users\dell\miniconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\dell\miniconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlparse in c:\users\dell\miniconda3\lib\site-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: ipython>=1.0 in c:\users\dell\miniconda3\lib\site-packages (from ipython-sql) (8.4.0)
Requirement already satisfied: pickleshare in c:\users\dell\miniconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: decorator in c:\users\dell\miniconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\dell\miniconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: matplotlib-inline in c:\users\dell\miniconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.6)
Requirement already satisfied: setuptools>=18.5 in c:\users\dell\miniconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (63.4.1)
Requirement already satisfied: colorama in c:\users\dell\miniconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.5)
Requirement already satisfied: stack-data in c:\users\dell\miniconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\users\dell\miniconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: pygments>=2.4.0 in c:\users\dell\miniconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: backcall in c:\users\dell\miniconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: jedi>=0.16 in c:\users\dell\miniconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\dell\miniconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\dell\miniconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: executing in c:\users\dell\miniconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: pure-eval in c:\users\dell\miniconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Requirement already satisfied: asttokens in c:\users\dell\miniconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
db2 = sqlalchemy.create_engine('ibm_db_sa://wkm36803:pJMHDWCodnUJFyAu@b70af05b-76e4-4bca-a1f5-23dbb4c6a74e.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32716/bludb')
db2.connect()


#%load_ext sql

**DB2 magic in case of old UI service credentials.**

In the next cell enter your db2 connection string. Recall you created Service Credentials for your Db2 instance before. From the **uri** field of your Db2 service credentials copy everything after db2:// (except the double quote at the end) and paste it in the cell below after ibm_db_sa://

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_edX/images/URI.jpg">

in the following format

**%sql ibm_db_sa://my-username:my-password\@my-hostname:my-port/my-db-name**

**DB2 magic in case of new UI service credentials.**

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/servicecredentials.png" width=600>  

*   Use the following format.

*   Add security=SSL at the end

**%sql ibm_db_sa://my-username:my-password\@my-hostname:my-port/my-db-name?security=SSL**

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])
Can't load plugin: sqlalchemy.dialects:ibm_db_sa
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [2]:
import ibm_db
import ibm_db_sa
import ibm_db_dbi
import pandas
#Connects to the IBM database
dsn_hostname = "b70af05b-76e4-4bca-a1f5-23dbb4c6a74e.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud" # e.g.: "54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud"
dsn_uid = "wkm36803"        # e.g. "abc12345"
dsn_pwd = "pJMHDWCodnUJFyAu"      # e.g. "7dBZ3wWt9XN6$o0J"

dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "bludb"            # e.g. "BLUDB"
dsn_port = "32716"                # e.g. "32733" 
dsn_protocol = "TCPIP"            # i.e. "TCPIP"
dsn_security = "SSL"              #i.e. "SSL"

#DO NOT MODIFY THIS CELL. Just RUN it with Shift + Enter
#Create the dsn connection string
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};"
    "SECURITY={7};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd,dsn_security)

#print the connection string to check correct values are specified
print(dsn)

#DO NOT MODIFY THIS CELL. Just RUN it with Shift + Enter
#Create database connection

try:
    conn = ibm_db.connect(dsn, "", "")
    print ("Connected to database: ", dsn_database, "as user: ", dsn_uid, "on host: ", dsn_hostname)

except:
    print ("Unable to connect: ", ibm_db.conn_errormsg() )

DRIVER={IBM DB2 ODBC DRIVER};DATABASE=bludb;HOSTNAME=b70af05b-76e4-4bca-a1f5-23dbb4c6a74e.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud;PORT=32716;PROTOCOL=TCPIP;UID=wkm36803;PWD=pJMHDWCodnUJFyAu;SECURITY=SSL;
Connected to database:  bludb as user:  wkm36803 on host:  b70af05b-76e4-4bca-a1f5-23dbb4c6a74e.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud

In [3]:
import pandas as pd
def execute_sql_ret_df(sql):    
    connection = ibm_db_dbi.Connection(conn)
    df = pd.read_sql(sql, connection)
    return df

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

### Task 1

##### Display the names of the unique launch sites  in the space mission

In [4]:
def get_unique_launch_sites():
    sql = "select distinct LAUNCH_SITE from SPACEX"
    dataset = execute_sql_ret_df(sql)
    return dataset
get_unique_launch_sites().head()

C:\Users\DELL\AppData\Local\Temp\ipykernel_20704\1906059059.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, connection)

    LAUNCH_SITE
0   CCAFS LC-40
1  CCAFS SLC-40
2    KSC LC-39A
3   VAFB SLC-4E

### Task 2

##### Display 5 records where launch sites begin with the string 'CCA'

In [5]:
def get_unique_launch_sites_starting_CCA():
    sql = "SELECT distinct LAUNCH_SITE from SPACEX where LAUNCH_SITE LIKE 'CCA%'"
    dataset = execute_sql_ret_df(sql)
    return dataset

get_unique_launch_sites_starting_CCA().head()

C:\Users\DELL\AppData\Local\Temp\ipykernel_20704\1906059059.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, connection)

    LAUNCH_SITE
0   CCAFS LC-40
1  CCAFS SLC-40

### Task 3

##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [21]:
def total_payload_mass_nasa():
    sql = "select sum(PAYLOAD_MASS__KG_) as total_payload_mass_kg from spacex where CUSTOMER like '%CRS%' "
    dataset = execute_sql_ret_df(sql)
    return dataset

total_payload_mass_nasa().head()

C:\Users\DELL\AppData\Local\Temp\ipykernel_7724\1906059059.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, connection)

   TOTAL_PAYLOAD_MASS_KG
0                  48213

### Task 4

##### Display average payload mass carried by booster version F9 v1.1

In [22]:
def average_payload_mass_F911():
    sql = "select avg(PAYLOAD_MASS__KG_) as avg_payload_mass_kg from spacex where BOOSTER_VERSION like '%F9 v1.1%'"
    dataset = execute_sql_ret_df(sql)
    return dataset

average_payload_mass_F911().head()

C:\Users\DELL\AppData\Local\Temp\ipykernel_7724\1906059059.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, connection)

   AVG_PAYLOAD_MASS_KG
0                 2534

### Task 5

##### List the date when the first successful landing outcome in ground pad was acheived.

*Hint:Use min function*

In [24]:
def first_successful_landing():
    sql = "SELECT min(DATE) as FIRST_SUCCESSFUL from SPACEX where MISSION_OUTCOME = 'Success'"
    dataset = execute_sql_ret_df(sql)
    return dataset

first_successful_landing().head()

C:\Users\DELL\AppData\Local\Temp\ipykernel_7724\1906059059.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, connection)

  FIRST_SUCCESSFUL
0       2010-06-04

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [25]:
def boosters_4k_to_6k():
    sql = "SELECT distinct BOOSTER_VERSION from SPACEX where LANDING__OUTCOME = 'Success (drone ship)' and PAYLOAD_MASS__KG_ >4000 and PAYLOAD_MASS__KG_ <6000"
    dataset = execute_sql_ret_df(sql)
    return dataset

boosters_4k_to_6k().head()

C:\Users\DELL\AppData\Local\Temp\ipykernel_7724\1906059059.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, connection)

  BOOSTER_VERSION
0  F9 FT  B1021.2
1  F9 FT  B1031.2
2     F9 FT B1022
3     F9 FT B1026

### Task 7

##### List the total number of successful and failure mission outcomes

In [26]:
def successfull_failed_total():
    sql = "SELECT MISSION_OUTCOME, COUNT(MISSION_OUTCOME) as TOTAL from SPACEX group by MISSION_OUTCOME"
    dataset = execute_sql_ret_df(sql)
    return dataset

successfull_failed_total().head()

C:\Users\DELL\AppData\Local\Temp\ipykernel_7724\1906059059.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, connection)

                    MISSION_OUTCOME  TOTAL
0               Failure (in flight)      1
1                           Success     99
2  Success (payload status unclear)      1

### Task 8

##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [27]:
def boosters_max_payload():
    sql = "SELECT DISTINCT BOOSTER_VERSION FROM SPACEX WHERE PAYLOAD_MASS__KG_ = (select max(PAYLOAD_MASS__KG_) from spacex)"
    dataset = execute_sql_ret_df(sql)
    return dataset

boosters_max_payload().head()

C:\Users\DELL\AppData\Local\Temp\ipykernel_7724\1906059059.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, connection)

  BOOSTER_VERSION
0   F9 B5 B1048.4
1   F9 B5 B1048.5
2   F9 B5 B1049.4
3   F9 B5 B1049.5
4   F9 B5 B1049.7

### Task 9

##### List the failed landing_outcomes in drone ship, their booster versions, and launch site names for in year 2015

In [28]:
def landings_drone_2015():
    sql = "SELECT BOOSTER_VERSION,LAUNCH_SITE FROM SPACEX WHERE LANDING__OUTCOME = 'Failure (drone ship)' AND DATE_PART('YEAR', DATE) = 2015"
    dataset = execute_sql_ret_df(sql)
    return dataset

landings_drone_2015().head()

C:\Users\DELL\AppData\Local\Temp\ipykernel_7724\1906059059.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, connection)

  BOOSTER_VERSION  LAUNCH_SITE
0   F9 v1.1 B1012  CCAFS LC-40
1   F9 v1.1 B1015  CCAFS LC-40

### Task 10

##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [30]:
def landing_rank_2k10_2k17():
    sql = "select LANDING__OUTCOME, COUNT(LANDING__OUTCOME) AS TOTAL from spacex where DATE > '2010-06-04' and DATE < '2017-03-20' GROUP BY LANDING__OUTCOME ORDER BY 2 DESC"
    dataset = execute_sql_ret_df(sql)
    return dataset

landing_rank_2k10_2k17().head(20)

C:\Users\DELL\AppData\Local\Temp\ipykernel_7724\1906059059.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, connection)

         LANDING__OUTCOME  TOTAL
0              No attempt     10
1    Failure (drone ship)      5
2    Success (drone ship)      5
3      Controlled (ocean)      3
4    Success (ground pad)      3
5    Uncontrolled (ocean)      2
6     Failure (parachute)      1
7  Precluded (drone ship)      1

### Reference Links

*   <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*   <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log

| Date       | Version | Changed by    | Change Description        |
| ---------- | ------- | ------------- | ------------------------- |
| 2021-10-12 | 0.4     | Lakshmi Holla | Changed markdown          |
| 2021-08-24 | 0.3     | Lakshmi Holla | Added library update      |
| 2021-07-09 | 0.2     | Lakshmi Holla | Changes made in magic sql |
| 2021-05-20 | 0.1     | Lakshmi Holla | Created Initial Version   |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>